* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 36, 69);
}

h1 {
  font-size: larger;
  font-weight: bolder;
  color: white;
}
